{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
                Social Network
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'assets\css\bootstrap.min.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'assets\css\icon.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'assets\css\css.css' %}">
        {% block css %}
        {% endblock css %}
    </head>
    <body>
    <div class="row border pt-2 pb-2 bg-white fixed-top">
        {% include 'components/navbar.html' %}
    </div>
    <div class="row justify-content-center mt-4" style="padding-top: 65px; padding-left: 50px; padding-right: 50px;">
        {% block messages %}
    		{% include 'components/messages.html' %}
    	{% endblock %}

        {% block main_content %}
            <div class="col-3">
                <div class="text-dark" style="position: fixed; width: 22%;">
                    {% include 'components/menu.html' %}
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-7">
                {% block middle %}
                    {% block stories %}
                    {% endblock stories %}

                    {% block content %}
                    {% endblock content %}
                {% endblock middle %}
            </div>
            <div class="col-1">
            </div>
            {% endblock main_content %}
    </div>

    <!-- Modal Create post -->
    <input name="csrf_token" type="hidden" id="csrf_token" value="{{ csrf_token }}">
    <input type="hidden" id="create_new_post" value="{% url 'create_new_post' %}"/>
    <input type="hidden" id="post_likes_url" value="{% url 'post_likes' %}"/>
    <div class="modal fade" id="modal-post-create" tabindex="-1" role="dialog" aria-labelledby="modal-post-create-label" aria-hidden="true">
      <div class="modal-dialog modal-mb modal-dialog-centered" role="document">
        <div class="modal-content" style="background: #fafafa;">
          <div class="modal-header">
            <h5 class="modal-title w-100 text-center" id="modal-post-create-label">Create new post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pt-3 pb-3">
            <div class="row">
                <div class="col-12 d-flex align-items-center">
                    <img style="border-radius: 100px;" src="{{ user.userprofile.image.url }}" alt="" width="60" height="60">
                    <h2 class="h5 text-truncate w-100 pl-3">{{ user.username }}</h2>
                </div>
                <div class="col-12 mt-3">
                     <textarea id="text-create-post" class="border-0" placeholder="What you  mean?" rows="5" style="outline: none; width: 100%; background: #fafafa; resize: none;" ></textarea>
                </div>
                <div class="col-12 mt-3 mb-2">
                    <div class="custom-file">
                      <label class="btn btn-default btn-file d-flex align-items-center border" for="inputGroupFile03">
                           <h6 class="label-name-file-post w-75 text-left mr-2" style="white-space: nowrap; overflow: hidden;">
                               Choose file
                           </h6>
                           <i class="fa fa-image pr-3" style="font-size:30px"></i>
                           <i class="fa fa-youtube-play pr-2" style="font-size:36px"></i>
                          <input type="file" class="input-name-file-post" id="inputGroupFile03" style="display: none;" multiple accept="image/jpeg, image/jpg, video/mp4, video/avi">
                      </label>
                    </div>
                </div>
                <div class="col-12 mt-2 div-progressbar">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary create-new-post"><i id="progress"  role="status" class="fi fi-check"></i>Create</button>
            <button type="button" class="btn btn-secondary close-modal-create-post" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Post info-->
    <div class="modal" id="post-detail-modal" tabindex="-1" role="dialog" aria-labelledby="post-detail-modal-Label" aria-hidden="false" style="opacity: 1;">
        <button type="button" class="close mr-3 mt-2" onclick="remove_body_modal_data(this);" data-dismiss="modal" aria-label="Close">
            <span style="font-size: 60pt;" class="text-white" aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 50% !important;" role="document">
            <div class="modal-content">
                <div id="modal-body-content-post" class="modal-body p-0">
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="{% static 'assets\js\main.js' %}"></script>
    {% block js %}
    {% endblock js %}
    </body>
</html>
