{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
                Social Network
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'assets\css\bootstrap.min.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'assets\css\icon.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'assets\css\css.css' %}">
        {% block css %}
        {% endblock css %}
    </head>
    <body>
    <div class="row border pt-2 pb-2 bg-white fixed-top">
        {% include 'components/navbar.html' %}
    </div>
    <div class="row justify-content-center mt-4" style="padding-top: 65px; padding-left: 50px; padding-right: 50px;">
        <div class="col-3">
            <div class="text-dark" style="position: fixed; width: 22%;">
                {% include 'components/menu.html' %}
            </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-7">
            {% block stories %}
            {% endblock stories %}

            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-1">
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'assets\js\main.js' %}"></script>
    </body>
</html>
