{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans "Bookmarks" %}
{% endblock title %}

{% block middle %}
    <div class="row mb-4">
        <div class="col-12 pl-3 pr-3">
            <div class="row">
                <div class="col-12 text-center">
                    <span>{% trans "Your saved posts" %}</span>
                    <hr>
                </div>
                <div class="col-12">
                    <div class="row">
                        {% for news_post in news_posts %}
                            <div class="col-4 text-center mb-4 d-flex align-items-center">
                                {% for file in files_list %}
                                    {% if file.post.id == news_post.id %}
                                        <a href="#!" class="image-show-zoom" data-url="{% url 'post_detail_view' news_post.page_id %}" onclick="open_page_post_detail(this);" style="text-decoration: none;" data-toggle="modal" data-target="#post-detail-modal">
                                            <div>
                                                {% if file.type == 'image' %}
                                                    <img src="{{ file.file.url }}" width="1080px" alt="" style="max-width: 100%;">
                                                {% elif file.type == 'video' %}
                                                    <img src="{% static 'assets/images/default.video.png' %}" width="1080px" alt="" style="max-width: 100%;">
                                                {% endif %}
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock middle %}

{% block js %}
    <script src=""></script>
{% endblock js %}
