{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Social Network</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="css.css">
    </head>
    <body>
    <div class="row border pt-2 pb-2 bg-white">
        <div class="col-4 text-center">
            <h2><a href="#!" class="text-dark"><img src="assets\images\logo.PNG" height="30" alt="logo"></a></h2>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-center">
            <input class="rounded border text-center" type="text" name="search" value="" style="padding-left: 5px; padding-right: 5px; font-family:Arial, FontAwesome; background: #fafafa;" placeholder="&#xF002; Search">
        </div>
        <div class="col-4 align-items-center">
            <div class="row align-items-center justify-content-center pt-1">
                <a href="#!" class="text-dark"><i class="fa fa-home mx-3" style="font-size:33px"></i></a>
                <a href="#!" class="text-dark"><i class="fa fa-send mx-3" style="font-size:23px"></i></a>
                <a href="#!" class="text-dark"><i class="fa fa-heart-o mx-3" style="font-size:27px;"></i></a>
                <a href="#!" class="text-dark"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="30" height="30"></a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-6">
            <div class="card text-dark bg-white mb-5">
              <div class="card-header bg-white">
                  <header class="d-flex align-items-center">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="40" height="40"></a>
                      <h2 class="h5 text-truncate w-100 pl-3">test_username</h2>
                      <a href="#" class="text-dark">
                         <i class="fa fa-ellipsis-h" style="font-size:24px"></i>
                      </a>
                  </header>
              </div>
              <div id="image-post">
                  <img src="assets\images\img2.jpg" width="1080px" alt="" style="max-width: 100%;">
              </div>
              <div class="row d-flex align-items-center pl-3 pt-2">
                  <div class="col-8 d-flex justify-content-start">
                      <a href="#!" class="text-dark"><i class="fa fa-heart-o mx-2" style="font-size:27px;"></i></a>
                      <a href="#!" class="text-dark"><i class="fa fa-comment-o mx-2" style="font-size:27px"></i></a>
                      <a href="#!" class="text-dark"><i class="fa fa-send-o mx-2 pt-1" style="font-size:23px"></i></a>
                  </div>
                  <div class="col-4 d-flex justify-content-end pr-4">
                      <a href="#!" class="text-dark"><i class="fa fa-bookmark-o mx-2" style="font-size:27px"></i></a>
                  </div>
              </div>
              <div id="likes" class="pl-4 pt-1">
                  <b><span class="text-dark">33 likes</span></b>
              </div>
              <hr class="w-100">
              <form>
                  <div class="row pb-3">
                      <div class="col-10 align-items-center pl-4">
                          <input name="name" class="form-control border-0" placeholder="Add a comment..."></input>
                      </div>
                      <div class="col-2 d-flex align-items-center justify-content-center">
                        <a href="#!" type="submit" class="btn btn-white text-primary">Post</a>
                      </div>
                  </div>
              </form>
            </div>

            <div class="card text-dark bg-white mb-5">
              <div class="card-header bg-white">
                  <header class="d-flex align-items-center">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="40" height="40"></a>
                      <h2 class="h5 text-truncate w-100 pl-3">test_username</h2>
                      <a href="#" class="text-dark">
                         <i class="fa fa-ellipsis-h" style="font-size:24px"></i>
                      </a>
                  </header>
              </div>
              <div id="image-post">
                  <img src="assets\images\img1.jpg" width="1080px" alt="" style="max-width: 100%;">
              </div>
              <div class="row d-flex align-items-center pl-3 pt-2">
                  <div class="col-8 d-flex justify-content-start">
                      <a href="#!" class="text-dark"><i class="fa fa-heart-o mx-2" style="font-size:27px;"></i></a>
                      <a href="#!" class="text-dark"><i class="fa fa-comment-o mx-2" style="font-size:27px"></i></a>
                      <a href="#!" class="text-dark"><i class="fa fa-send-o mx-2 pt-1" style="font-size:23px"></i></a>
                  </div>
                  <div class="col-4 d-flex justify-content-end pr-4">
                      <a href="#!" class="text-dark"><i class="fa fa-bookmark-o mx-2" style="font-size:27px"></i></a>
                  </div>
              </div>
              <div id="likes" class="pl-4 pt-1">
                  <b><span class="text-dark">33 likes</span></b>
              </div>
              <hr class="w-100">
              <form>
                  <div class="row pb-3">
                      <div class="col-10 align-items-center pl-4">
                          <input name="name" class="form-control border-0" placeholder="Add a comment..."></input>
                      </div>
                      <div class="col-2 d-flex align-items-center justify-content-center">
                        <a href="#!" type="submit" class="btn btn-white text-primary">Post</a>
                      </div>
                  </div>
              </form>
            </div>

            <div class="card text-dark bg-white mb-5">
              <div class="card-header bg-white">
                  <header class="d-flex align-items-center">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="40" height="40"></a>
                      <h2 class="h5 text-truncate w-100 pl-3">test_username</h2>
                      <a href="#" class="text-dark">
                         <i class="fa fa-ellipsis-h" style="font-size:24px"></i>
                      </a>
                  </header>
              </div>
              <div id="image-post">
                  <img src="assets\images\img3.jpg" width="1080px" alt="" style="max-width: 100%;">
              </div>
              <div class="row d-flex align-items-center pl-3 pt-2">
                  <div class="col-8 d-flex justify-content-start">
                      <a href="#!" class="text-dark"><i class="fa fa-heart-o mx-2" style="font-size:27px;"></i></a>
                      <a href="#!" class="text-dark"><i class="fa fa-comment-o mx-2" style="font-size:27px"></i></a>
                      <a href="#!" class="text-dark"><i class="fa fa-send-o mx-2 pt-1" style="font-size:23px"></i></a>
                  </div>
                  <div class="col-4 d-flex justify-content-end pr-4">
                      <a href="#!" class="text-dark"><i class="fa fa-bookmark-o mx-2" style="font-size:27px"></i></a>
                  </div>
              </div>
              <div id="likes" class="pl-4 pt-1">
                  <b><span class="text-dark">33 likes</span></b>
              </div>
              <hr class="w-100">
              <form>
                  <div class="row pb-3">
                      <div class="col-10 align-items-center pl-4">
                          <input name="name" class="form-control border-0" placeholder="Add a comment..."></input>
                      </div>
                      <div class="col-2 d-flex align-items-center justify-content-center">
                        <a href="#!" type="submit" class="btn btn-white text-primary">Post</a>
                      </div>
                  </div>
              </form>
            </div>
        </div>
        <div class="col-3">

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
