{% extends 'base.html' %}
{% load static %}

{% block title %}
    Social Network
{% endblock title %}

{% block stories %}
    {% include 'components/block_stories.html' %}
{% endblock stories %}

{% block content %}
<button type="button" class="btn btn-primary test-load" data-toggle="modal" data-target="#post-detail-modal">
  Запустить модальное окно
</button>
    {% include 'components/news_posts.html' %}

    <!-- Modal -->
    <div class="modal" id="post-detail-modal" tabindex="-1" role="dialog" aria-labelledby="post-detail-modal-Label" aria-hidden="false" style="opacity: 1;">
        <button type="button" class="close mr-3 mt-2" data-dismiss="modal" aria-label="Close">
            <span style="font-size: 60pt;" class="text-white" aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 65% !important;" role="document">
            <div class="modal-content">
                <div id="modal-body-content-post" class="modal-body p-0">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'assets\js\news_page.js' %}"></script>
{% endblock js %}
