{% extends 'base.html' %}
{% load static %}

{% block title %}
    Settings
{% endblock title %}

{% block middle %}
    <div class="row mb-4">
        <div class="col-12 pl-3 pr-3">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" href="#">General</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Security</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Location</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Language of the region</a>
              </li>
            </ul>
        </div>
        <div class="col-12">
            <div class="bg-white p-3">
                test'sdfsd
            </div>
        </div>
    </div>
{% endblock middle %}

{% block js %}
    <script src=""></script>
{% endblock js %}
