{% extends 'base.html' %}
{% load static %}

{% block title %}
    Sign Up
{% endblock title %}

{% block main_content %}
    <div class="row d-flex justyfi-content-center">
        <div class="col-12 text-center">
            <h5><b>Sign up</b></h5>
        </div>
        <div class="col-12">
            <form action="{% url 'signup:sign_up_register' %}" validate method="POST">
                {% csrf_token %}
                {% if register_form.non_field_errors  %}
                    <p class="text-danger">
                        {{ register_form.non_field_errors }}
                    </p>
                {% endif %}

                <div class="form-label-group mb-3">
                    {{register_form.username.label_tag}}
                    <input required id="{{register_form.username.id_for_label}}" name="{{register_form.username.name}}"
                        value="{{register_form.username.value|default_if_none:''}}" type="text" class="form-control" placeholder="Your username">
                    {% if register_form.username.errors %}
                            <div class="alert-danger" role="alert">
                                    {{register_form.username.errors }}
                            </div>
                    {% endif %}
                </div>

                <div class="form-label-group mb-3">
                    {{register_form.first_name.label_tag}}
                    <input required id="{{register_form.first_name.id_for_label}}" name="{{register_form.first_name.name}}"
                        value="{{register_form.first_name.value|default_if_none:''}}" type="text" class="form-control" placeholder="Your first_name">
                    {% if register_form.first_name.errors %}
                            <div class="alert-danger" role="alert">
                                    {{register_form.first_name.errors }}
                            </div>
                    {% endif %}
                </div>

                <div class="form-label-group mb-3">
                    {{register_form.last_name.label_tag}}
                    <input required id="{{register_form.last_name.id_for_label}}" name="{{register_form.last_name.name}}"
                        value="{{register_form.last_name.value|default_if_none:''}}" type="text" class="form-control" placeholder="Your last_name">
                    {% if register_form.last_name.errors %}
                            <div class="alert-danger" role="alert">
                                    {{register_form.last_name.errors }}
                            </div>
                    {% endif %}
                </div>

                <div class="form-label-group mb-3">
                    {{register_form.email.label_tag}}
                    <input required id="{{register_form.email.id_for_label}}" name="{{register_form.email.name}}"
                        value="{{register_form.email.value|default_if_none:''}}" type="email" class="form-control" placeholder="Your last_name">
                    {% if register_form.email.errors %}
                            <div class="alert-danger" role="alert">
                                    {{register_form.email.errors }}
                            </div>
                    {% endif %}
                </div>

                <div class="form-label-group mb-3">
                    <label for="{{register_form.password1.id_for_label}}">Password:</label>
                    <input required id="{{register_form.password1.id_for_label}}" name="{{register_form.password1.name}}"
                        value="{{register_form.password1.value|default_if_none:''}}" type="password" class="form-control" placeholder="Your password">
                    {% if register_form.password1.errors %}
                            <div class="alert-danger" role="alert">
                                    {{register_form.password1.errors }}
                            </div>
                    {% endif %}
                </div>

                <button class="btn btn-primary" type="submit" name="button">Sign Up</button>
            </form>
        </div>
    </div>

{% endblock main_content %}
