{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans "Sign In" %}
{% endblock title %}

{% block main_content %}
    <div class="row d-flex justyfi-content-center">
        <div class="col-12 text-center">
            <h5><b>{% trans "Sign In" %}</b></h5>
        </div>
        <div class="col-12">
            <form action="{% url 'signup:sign_in_login' %}" validate method="POST">
                {% csrf_token %}
                {% if login_form.non_field_errors  %}
                    <p class="text-danger">
                        {{ login_form.non_field_errors }}
                    </p>
                {% endif %}

                <div class="form-label-group mb-3">
                    {{login_form.username.label_tag}}
                    <input required id="{{login_form.username.id_for_label}}" name="{{login_form.username.name}}"
                    	value="{{login_form.username.value|default_if_none:''}}" type="text" class="form-control" placeholder="{% trans 'Enter your username' %}">
                    {% if login_form.username.errors %}
                            <div class="alert-danger" role="alert">
                                    {{login_form.username.errors }}
                            </div>
                    {% endif %}
                </div>

                <div class="form-label-group mb-3">
                    {{login_form.password.label_tag}}
                    <input required id="{{login_form.password.id_for_label}}" name="{{login_form.password.name}}"
                        value="{{login_form.password.value|default_if_none:''}}" type="password" class="form-control" placeholder="{% trans 'Enter your password' %}">
                    {% if login_form.password.errors %}
                            <div class="alert-danger" role="alert">
                                    {{login_form.password.errors }}
                            </div>
                    {% endif %}
                </div>
                <div class="form-label-group mb-3">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary" type="submit" name="button">{% trans "Sign In" %}</button>
                        </div>
                        <div class="col d-flex align-items-center">
                            <a href="{% url 'signup:sign_up_register' %}">{% trans "I don't have an account" %}</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock main_content %}
