<div class="card text-dark bg-white mb-5">
    <div class="card-header bg-white">
        <header class="d-flex align-items-center">
            <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="40" height="40"></a>
            <h2 class="h5 text-truncate w-100 pl-3">test_username</h2>
            <a href="#" class="text-dark">
                <i class="fa fa-ellipsis-h" style="font-size:24px"></i>
            </a>
        </header>
    </div>
    <div id="image-post">
        <img src="{% static 'assets\images\img1.jpg' %}" width="1080px" alt="" style="max-width: 100%;">
    </div>
    <div class="row d-flex align-items-center pl-3 pt-2">
        <div class="col-8 d-flex justify-content-start">
            <a href="#!" class="text-dark"><i class="fa fa-heart-o mx-2" style="font-size:27px;"></i></a>
            <a href="#!" class="text-dark"><i class="fa fa-comment-o mx-2" style="font-size:27px"></i></a>
            <a href="#!" class="text-dark"><i class="fa fa-send-o mx-2 pt-1" style="font-size:23px"></i></a>
        </div>
        <div class="col-4 d-flex justify-content-end pr-4">
            <a href="#!" class="text-dark"><i class="fa fa-bookmark-o mx-2" style="font-size:27px"></i></a>
        </div>
    </div>
    <div id="likes" class="pl-4 pt-1">
        <b><span class="text-dark">33 likes</span></b>
    </div>
    <hr class="w-100">
    <form>
        <div class="row pb-3">
            <div class="col-10 align-items-center pl-4">
                <input name="name" class="form-control border-0" placeholder="Add a comment..."></input>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-center">
                <a href="#!" type="submit" class="btn btn-white text-primary">Post</a>
            </div>
        </div>
    </form>
</div>
