<div class="row mt-1" style="max-width: 450px; position: fixed;">
    <div class="col-12">
        <div class="row">
            <div class="col-2">
                <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="55" height="55"></a>
            </div>
            <div class="col-auto" style="padding-left: 10px;">
                <span class="text-dark" style="font-weight: 600;">username_99</span><br>
                <small class="text-secondary">First_name Last_name</small>
            </div>
        </div>
    </div>
    <div class="col-12 pt-3 pl-4">
        <div class="row">
            <div class="border bg-white" style="width: 18rem;">
                <div class="row pt-1 pb-1 pr-2 pl-2">
                    <div class="col-6 pl-4">
                        <small><b class="text-muted">Stories</b></small>
                    </div>
                    <div class="col-6 pr-4 text-right">
                        <small>Watch All</small>
                    </div>
                </div>
                <div class="row pr-3">
                    <div class="col-12 scroll pr-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="row pl-2 pt-1 pb-2 d-flex align-items-center">
                                    <div class="col-2">
                                        <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="40" height="40"></a>
                                    </div>
                                    <div class="col-10 pl-4" style="padding-left: 0px;">
                                        <span class="text-dark" style="font-weight: 600;">username_99</span><br>
                                        <small class="text-secondary">First_name Last_name</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
