{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    {% trans "Chat" %}
{% endblock title %}


{% block main_menu %}
    <div class="card text-dark bg-white  mb-4">
        <div class="card-header bg-white p-0 pt-3 pb-3">
            <div class="row d-flex align-items-center justify-content-center">
                <i class="material-icons" style="font-size:36px">{% trans "library_add" %}</i>
                <h2 class="h5 text-truncate pl-3">
                    <a href="#!" class="text-dark" style="text-decoration: none;">
                        {% trans "Create chat!" %}
                    </a>
                </h2>
            </div>
        </div>
        <div class="card-body pl-3 pr-3" style="padding-bottom:2px; padding-top:2px;">
            {% for chat in chats %}
            <div class="row pb-2 pt-2" {% if chat.chat_id == chat_page.chat_id %}style="background: #DCDCDC;"{% endif %}>
                <div class="col-4 p-0 d-flex justify-content-center">
                    {% if chat.image and chat.image.url %}
                        <a href="{% url 'messenger:chat' chat.chat_id %}">
                            <img style="max-width:100%;" src="{{ chat.image.url }}" alt="" width="auto" height="55">
                        </a>
                    {% else %}
                        <a href="{% url 'messenger:chat' chat.chat_id %}">
                            <img style="max-width:100%;" src="{% static 'assets\images\default.png' %}" alt="" width="auto" height="55">
                        </a>
                    {% endif %}
                </div>
                <div class="col-8 d-flex align-items-center">
                    <div class="row">
                        <h2 class="h5 text-truncate w-100 pl-3">
                            <a href="{% url 'messenger:chat' chat.chat_id %}" class="text-dark" style="text-decoration: none;">
                                {{ chat.chat_name }}
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock main_menu %}


{% block middle %}
<div class="card text-dark bg-white  mb-4" style="position: fixed; width: 53%; height: 83%;">
    <div class="card-header bg-white">
        <header class="d-flex align-items-center">
            {% if chat_page.image and chat_page.image.url %}
                <img src="{{ chat_page.image.url }}" alt="" width="auto" height="50">
            {% else %}
                <img src="{% static 'assets\images\default.png' %}" alt="" width="auto" height="50">
            {% endif %}
            <h2 class="h5 text-truncate w-100 pl-3">
                <a href="#!" class="text-dark" style="text-decoration: none;">
                    {{ chat_page.chat_name }}
                </a>
            </h2>
            <i class="fa fa-info-circle" style="font-size:24px" data-toggle="tooltip" data-placement="top" title="{% trans 'Director' %}: {{ chat_page.director }}. {% trans 'Created chat' %} {{ chat_page.date_create }}"></i>
        </header>
    </div>
    <div id="block-messages" class="card-body overflow-auto" style="background-image: url('{% static 'assets\images\messenger\fon2.jpg' %}');">
        <div class="row d-flex justify-content-center pb-2 created-chat">
            {% trans "Created chat" %} {{ chat_page.date_create }}
        </div>
        {% for message in messages %}
            {% if message.from_id.id == user.id %}
                <div class="row d-flex justify-content-end align-items-center pr-2 mb-2 mt-2">
                    <span class="pr-3">{{ message.content }}</span>
                    {% if message.from_id.userprofile.image and message.from_id.userprofile.image.url %}
                        <a href="{% url 'user_page' message.from_id.username %}">
                            <img class="" style="border-radius: 100px;" src="{{ message.from_id.userprofile.image.url }}" alt="" width="40" height="40">
                        </a>
                    {% else %}
                        <a href="{% url 'user_page' message.from_id.username %}">
                            <img src="{% static 'assets\images\default.png' %}" alt="" width="auto" height="50">
                        </a>
                    {% endif %}
                </div>
            {% else %}
                <div class="row d-flex justify-content-start align-items-center pl-2 mb-2 mt-2">
                    {% if message.from_id.userprofile.image and message.from_id.userprofile.image.url %}
                        <a href="{% url 'user_page' message.from_id.username %}">
                            <img class="" style="border-radius: 100px;" src="{{ message.from_id.userprofile.image.url }}" alt="" width="40" height="40">
                        </a>
                    {% else %}
                        <a href="{% url 'user_page' message.from_id.username %}">
                            <img style="border-radius: 100px;" src="{% static 'assets\images\default.png' %}" alt="" width="auto" height="50">
                        </a>
                    {% endif %}
                    <span class="pl-3">{{ message.content }}</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="card-footer bg-white pl-5 pr-5">
        <div class="row rounded-pill border p-2 d-flex justify-content-center">
            <div>
                <i id="emoji-button" class="fa fa-smile-o pl-1" style="font-size:36px"></i>
                <i class="fa fa-image pl-3 pr-3" style="font-size:36px"></i>
            </div>
            <div class="pr-3" style="width: 60%;">
                <input id="chat-message-input" type="text" class="border-0 p-2 w-100" name="" value="" placeholder="{% trans "Your message..." %}">
            </div>
            <div class="d-flex justify-content-end">
                <a href="#!" data-user-id="{{ user.id }}" id="chat-message-submit" class="btn border-0">
                    {% trans "Send" %}
                </a>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="url_messages_load" data-next="2" value="{% url 'messenger:load_chat_messages' chat_page.chat_id %}"/>
{{ chat_page.id|json_script:"chat_id" }}
<script>
    const chat_id = JSON.parse(document.getElementById('chat_id').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/messenger/'
        + chat_id
        + '/'
    );

    //Add to div message
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.user_id == $('#chat-message-submit').attr('data-user-id')) {
            document.querySelector('#block-messages').insertAdjacentHTML('beforeend', '\
                <div class="row d-flex justify-content-end align-items-center pr-2 mb-2 mt-2">\
                    <span class="pr-3">'+ data.message +'</span>\
                    <a href="'+ data.user_url +'">\
                        <img class="" style="border-radius: 100px;" src="'+ data.user_image +'"\ alt="" width="40" height="40">\
                    </a>\
                </div>\
            ');
        } else {
            document.querySelector('#block-messages').insertAdjacentHTML('beforeend', '\
                <div class="row d-flex justify-content-start align-items-center pl-2 mb-2 mt-2">\
                    <a href="'+ data.user_url +'">\
                        <img class="" style="border-radius: 100px;" src="'+ data.user_image +'"\ alt="" width="40" height="40">\
                    </a>\
                    <span class="pl-3">'+ data.message +'</span>\
                </div>\
            ');
        };
        let objDiv = document.getElementById("block-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    };

    //Info closed connect
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        const user_id = $('#chat-message-submit').attr('data-user-id');
        const user_image = $('#user-images').attr('src');
        const user_url = $('#user-url').attr('href');
        chatSocket.send(JSON.stringify({
            'message': message,
            'user_id': user_id,
            'user_url': user_url,
            'user_image': user_image
        }));
        messageInputDom.value = '';
    };
</script>
{% endblock middle %}


{% block js %}
    <script src="{% static 'assets\js\emoji.min.js' %}"></script>
    <script src="{% static 'assets\js\messeger_chat.js' %}"></script>
{% endblock js %}
