{% extends 'base.html' %}
{% load static %}


{% block title %}
    Messenger
{% endblock title %}


{% block main_menu %}
    <div class="card text-dark bg-white  mb-4">
        <div class="card-header bg-white p-0 pt-3 pb-3">
            <div class="row d-flex align-items-center justify-content-center">
                <i class="material-icons" style="font-size:36px">library_add</i>
                <h2 class="h5 text-truncate pl-3">
                    <a href="#!" class="text-dark" style="text-decoration: none;">
                        Create chat!
                    </a>
                </h2>
            </div>
        </div>
        <div class="card-body pb-0 pt-0 pl-3 pr-3">
            {% for chat in chats %}
            <div class="row pb-2 pt-2">
                <div class="col-4 p-0 d-flex justify-content-center">
                    {% if chat.image and chat.image.url %}
                        <a href="{% url 'messenger:chat' chat.chat_id %}">
                            <img style="max-width:100%;" src="{{ chat.image.url }}" alt="" width="auto" height="55">
                        </a>
                    {% else %}
                        <a href="{% url 'messenger:chat' chat.chat_id %}">
                            <img style="max-width:100%;" src="{% static 'assets\images\default.png' %}" alt="" width="auto" height="55">
                        </a>
                    {% endif %}
                </div>
                <div class="col-8 d-flex align-items-center">
                    <div class="row">
                        <h2 class="h5 text-truncate w-100 pl-3">
                            <a href="{% url 'messenger:chat' chat.chat_id %}" class="text-dark" style="text-decoration: none;">
                                {{ chat.chat_name }}
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock main_menu %}


{% block middle %}
<div class="card text-dark bg-white  mb-4" style="position: fixed; width: 53%; height: 80%;">
    <div class="card-body d-flex justify-content-center align-items-center">
        Please choise your chat messages!
    </div>
</div>
{% endblock middle %}


{% block js %}
{% endblock js %}
