{% load static %}

<div class="row pl-3 pr-3 mb-4">
    <div class="col-12 rounded border">
        <div class="row pt-2 pb-2">
            <div class="scrolling-wrapper">
              <div class="cards">
                  <div class="col text-center " style="max-width: 90px;">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="65" height="65"></a><br>
                      <span class="text-dark">usernam..</span>
                  </div>
              </div>
              <div class="cards">
                  <div class="col text-center " style="max-width: 90px;">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="65" height="65"></a><br>
                      <span class="text-dark">usernam..</span>
                  </div>
              </div>
              <div class="cards">
                  <div class="col text-center " style="max-width: 90px;">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="65" height="65"></a><br>
                      <span class="text-dark">usernam..</span>
                  </div>
              </div>
              <div class="cards">
                  <div class="col text-center " style="max-width: 90px;">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="65" height="65"></a><br>
                      <span class="text-dark">usernam..</span>
                  </div>
              </div>
              <div class="cards">
                  <div class="col text-center " style="max-width: 90px;">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="65" height="65"></a><br>
                      <span class="text-dark">usernam..</span>
                  </div>
              </div>
              <div class="cards">
                  <div class="col text-center " style="max-width: 90px;">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="65" height="65"></a><br>
                      <span class="text-dark">usernam..</span>
                  </div>
              </div>
              <div class="cards">
                  <div class="col text-center " style="max-width: 90px;">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="65" height="65"></a><br>
                      <span class="text-dark">usernam..</span>
                  </div>
              </div>
              <div class="cards">
                  <div class="col text-center " style="max-width: 90px;">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="65" height="65"></a><br>
                      <span class="text-dark">usernam..</span>
                  </div>
              </div>
              <div class="cards">
                  <div class="col text-center " style="max-width: 90px;">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="65" height="65"></a><br>
                      <span class="text-dark">usernam..</span>
                  </div>
              </div>
              <div class="cards">
                  <div class="col text-center " style="max-width: 90px;">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="65" height="65"></a><br>
                      <span class="text-dark">usernam..</span>
                  </div>
              </div>
              <div class="cards">
                  <div class="col text-center " style="max-width: 90px;">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="65" height="65"></a><br>
                      <span class="text-dark">usernam..</span>
                  </div>
              </div>
              <div class="cards">
                  <div class="col text-center " style="max-width: 90px;">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="65" height="65"></a><br>
                      <span class="text-dark">usernam..</span>
                  </div>
              </div>
              <div class="cards">
                  <div class="col text-center " style="max-width: 90px;">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="65" height="65"></a><br>
                      <span class="text-dark">usernam..</span>
                  </div>
              </div>
              <div class="cards">
                  <div class="col text-center " style="max-width: 90px;">
                      <a href="#!"><img style="border-radius: 100px;" src="https://static10.tgstat.ru/channels/_0/38/38d980d494e7dd012dc630341bfedb39.jpg" alt="" width="65" height="65"></a><br>
                      <span class="text-dark">usernam..</span>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
