{% load static %}

<div class="row">
    <div class="col-12 pb-1">
        <div class="row pl-1 d-flex align-items-center">
            <div class="col-12" style="padding-left: 10px;">
                {% if menu_action == 'user_page' %}
                    <div class="pt-1 pb-1 border rounded" style="background: #DCDCDC; padding-left: 15px;">
                {% else %}
                    <div id="main-manu" class="pt-1 pb-1" style="padding-left: 15px;">
                {% endif %}
                    {% if user.userprofile.image and user.userprofile.image.url %}
                        <a href="{% url 'user_page' user.username %}"><img style="border-radius: 100px;" src="{{ user.userprofile.image.url }}" alt="" width="30" height="30"></a>
                    {% else %}
                        <a href="{% url 'user_page' user.username %}"><img style="border-radius: 100px;" src="{% static 'assets\images\default.png' %}" alt="" width="30" height="30"></a>
                    {% endif %}
                    <a href="{% url 'user_page' user.username %}" style="text-decoration: none;">
                        <span class="text-dark" style="font-weight: 600; padding-left: 5px;">
                            {{ user.first_name }} {{ user.last_name }}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 pb-1">
        <div class="row pl-1 d-flex align-items-center">
            <div class="col-12" style="padding-left: 10px;">
                {% if menu_action == 'news' %}
                    <div class="pt-1 pb-1 border rounded" style="background: #DCDCDC;">
                {% else %}
                    <div id="main-manu" class="pt-1 pb-1">
                {% endif %}
                    <span style="font-weight: 600;"><a href="{% url 'news_page' %}" class="text-dark" style="text-decoration: none;"><i class="fa fa-newspaper-o mx-3" style="font-size:23px"></i>News</a></span>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 pb-1">
        <div class="row pl-1 d-flex align-items-center">
            <div class="col-12" style="padding-left: 10px;">
                <div id="main-manu" class="pt-1 pb-1" style="">
                    <span style="font-weight: 600;"><a href="{% url 'messenger:messenger' %}" class="text-dark" style="text-decoration: none;"><i class="fa fa-send mx-3" style="font-size:23px"></i>Messenger</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 pb-1">
        <div class="row pl-1 d-flex align-items-center">
            <div class="col-12" style="padding-left: 10px;">
                <div id="main-manu" class="pt-1 pb-1" style="">
                    <span style="font-weight: 600;"><a href="#!" class="text-dark" style="text-decoration: none;"><i class="fa fa-bell-o mx-3" style="font-size:23px"></i>Notifications</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 pb-1" style="">
        <div class="row pl-1 d-flex align-items-center">
            <div class="col-12" style="padding-left: 10px;">
                {% if menu_action == 'bookmarks' %}
                    <div class="pt-1 pb-1 border rounded" style="background: #DCDCDC;">
                {% else %}
                    <div id="main-manu" class="pt-1 pb-1">
                {% endif %}
                    <span style="font-weight: 600;"><a href="{% url 'bookmarks_view' %}" class="text-dark" style="text-decoration: none;"><i class="fa fa-list mx-3" style="font-size:23px"></i>Bookmarks</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 pb-1">
        <div class="row pl-1 d-flex align-items-center">
            <div class="col-12" style="padding-left: 10px;">
                {% if menu_action == 'settings' %}
                    <div class="pt-1 pb-1 border rounded" style="background: #DCDCDC;">
                {% else %}
                    <div id="main-manu" class="pt-1 pb-1">
                {% endif %}
                    <span style="font-weight: 600;"><a href="{% url 'settings:settings_general_view' %}" class="text-dark" style="text-decoration: none;"><i class="fa fa-cog mx-3" style="font-size:23px"></i>Settings</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 pb-1">
        <div class="row pl-1 d-flex align-items-center">
            <div class="col-12" style="padding-left: 10px;">
                <div id="main-manu" class="pt-1 pb-1" style="">
                    <span style="font-weight: 600;">
                        <a href="{% url 'signup:user_logout' %}" class="text-dark" style="text-decoration: none;">
                            <i class="fa fa-sign-out ml-3 mr-2" style="font-size:23px"></i>
                            Log Out
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
