{% load static %}

<div class="row">
    <div class="col-12 pb-1">
        <div class="row pl-1 d-flex align-items-center">
            <div class="col-12" style="padding-left: 10px;">
                <div class="pt-1 pb-1 border rounded" style="background: #DCDCDC; padding-left: 15px;">
                    <a href="#!"><img style="border-radius: 100px;" src="https://cdn2.iconfinder.com/data/icons/avatar-profile/476/profile_avatar_contact_account_user_default-512.png" alt="" width="25" height="25"></a>
                    <span class="text-dark" style="font-weight: 600; padding-left: 5px;">First Last_name</span><br>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 pb-1">
        <div class="row pl-1 d-flex align-items-center">
            <div class="col-12" style="padding-left: 10px;">
                <div id="main-manu" class="pt-1 pb-1" style="">
                    <span style="font-weight: 600;"><a href="#!" class="text-dark" style="text-decoration: none;"><i class="fa fa-newspaper-o mx-3" style="font-size:23px"></i>News</a></span>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 pb-1">
        <div class="row pl-1 d-flex align-items-center">
            <div class="col-12" style="padding-left: 10px;">
                <div id="main-manu" class="pt-1 pb-1" style="">
                    <span style="font-weight: 600;"><a href="#!" class="text-dark" style="text-decoration: none;"><i class="fa fa-send mx-3" style="font-size:23px"></i>Messenger</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 pb-1">
        <div class="row pl-1 d-flex align-items-center">
            <div class="col-12" style="padding-left: 10px;">
                <div id="main-manu" class="pt-1 pb-1" style="">
                    <span style="font-weight: 600;"><a href="#!" class="text-dark" style="text-decoration: none;"><i class="fa fa-bell-o mx-3" style="font-size:23px"></i>Notifications</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 pb-1" style="">
        <div class="row pl-1 d-flex align-items-center">
            <div class="col-12" style="padding-left: 10px;">
                <div id="main-manu" class="pt-1 pb-1" style="">
                    <span style="font-weight: 600;"><a href="#!" class="text-dark" style="text-decoration: none;"><i class="fa fa-calendar-check-o mx-3" style="font-size:23px"></i>Events</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 pb-1">
        <div class="row pl-1 d-flex align-items-center">
            <div class="col-12" style="padding-left: 10px;">
                <div id="main-manu" class="pt-1 pb-1" style="">
                    <span style="font-weight: 600;"><a href="#!" class="text-dark" style="text-decoration: none;"><i class="fa fa-cog mx-3" style="font-size:23px"></i>Settings</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 pb-1">
        <div class="row pl-1 d-flex align-items-center">
            <div class="col-12" style="padding-left: 10px;">
                <div id="main-manu" class="pt-1 pb-1" style="">
                    <span style="font-weight: 600;">
                        <a href="{% url 'signup:user_logout' %}" class="text-dark" style="text-decoration: none;">
                            <i class="fa fa-sign-out ml-3 mr-2" style="font-size:23px"></i>
                            Log Out
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
