{% load static %}
{% load custom_tags %}

<input name="csrf_token" type="hidden" id="csrf_token" value="{{ csrf_token }}">
{% for news_post in news_posts %}
<div class="card text-dark bg-white  mb-4">
    <div class="card-header bg-white">
        <header class="d-flex align-items-center">
            {% if news_post.user.userprofile.image and news_post.user.userprofile.image.url %}
                <a href="{% url 'user_page' news_post.user.username %}"><img style="border-radius: 100px;" src="{{ news_post.user.userprofile.image.url }}" alt="" width="40" height="40"></a>
            {% else %}
                <img style="border-radius: 100px;" src="{% static 'assets\images\default.png' %}" alt="" width="40" height="40">
            {% endif %}
            <h2 class="h5 text-truncate w-100 pl-3"><a href="{% url 'user_page' news_post.user.username %}" class="text-dark" style="text-decoration: none;">{{ news_post.user.username }}</a></h2>
            <a href="#!" class="text-dark">
                <i class="fa fa-ellipsis-h" style="font-size:24px"></i>
            </a>
        </header>
    </div>
    <div id="image-post" class="text-center">
        {% if count_files_in_post|get_item:news_post.id > 1 %}
        <div id="carouselExampleControls{{news_post.id}}" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for file in files_list %}
                    {% if file.post.id == news_post.id %}
                        {% if file.type == 'image' %}
                            <div class="carousel-item {% if file.position == 1 %}active{% endif %}">
                                <img src="{{ file.file.url }}" width="1080px" alt="" style="max-width: 100%;">
                            </div>
                        {% elif file.type == 'video' %}
                            <div class="carousel-item {% if file.position == 1 %}active{% endif %}">
                                <video style="max-width: 100%;" controls>
                                    <source src="{{ file.file.url }}">
                                </video>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls{{news_post.id}}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls{{news_post.id}}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        {% else %}
            {% for file in files_list %}
                {% if file.post.id == news_post.id %}
                    {% if file.type == 'image' %}
                        <img src="{{ file.file.url }}" width="1080px" alt="" style="max-width: 100%;">
                    {% elif file.type == 'video' %}
                        <video style="max-width: 100%;" controls>
                            <source src="{{ file.file.url }}">
                        </video>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% if news_post.text %}
    <div class="row" style="padding-left: 40px;">
        <p class="mb-0 pb-1 pt-3">{{ news_post.text }}<a href="#!" onclick="open_page_post_detail(this);" data-url="{% url 'post_detail_view' news_post.page_id %}" data-toggle="modal" data-target="#post-detail-modal" style="text-decoration: none;" class="text-primary pl-2">read more...</a></p>
    </div>
    {% endif %}
    <div class="row d-flex align-items-center pl-3 pt-2">
        <div class="col-8 d-flex justify-content-start">
            <a href="#!" class="text-dark"><i class="fa fa-heart-o mx-2" style="font-size:27px;"></i></a>
            <a href="#!" class="text-dark"><i class="fa fa-comment-o mx-2" style="font-size:27px"></i></a>
            <a href="#!" class="text-dark"><i class="fa fa-send-o mx-2 pt-1" style="font-size:23px"></i></a>
        </div>
        <div class="col-4 d-flex justify-content-end pr-4">
            <a href="#!" class="text-dark"><i class="fa fa-bookmark-o mx-2" style="font-size:27px"></i></a>
        </div>
    </div>
    <div id="likes" class="pl-4 pt-1">
        <b><span class="text-dark">{{ news_post.likes_count }} likes</span></b>
    </div>
    <div id="comment-div-{{ news_post.id }}" class="pl-4 pr-2 pt-1">
        {% for comment in comment_list %}
            {% if comment.post.id == news_post.id %}
                <span><b>{{ comment.user.username }}</b> {{ comment.text }}</span><br>
            {% endif %}
        {% endfor %}
        <a href="#!" data-url="{% url 'post_detail_view' news_post.page_id %}" onclick="open_page_post_detail(this);" style="text-decoration: none;" data-toggle="modal" data-target="#post-detail-modal" class="text-primary">View all comments...</a>
    </div>
    <hr class="w-100">
    <form>
        <div class="row pb-3">
            <div class="col-10 align-items-center pl-4">
                <input id="comment_text_{{ news_post.id }}" name="comment_text" class="form-control border-0" placeholder="Add a comment..."></input>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-center">
                <a id="{{ news_post.id }}" href="#!" onclick="return addComment(this);" data-username="{{ user.username }}" data-url="{% url 'create_comment' news_post.id %}" class="btn btn-white text-primary">Post</a>
            </div>
        </div>
    </form>
</div>
{% endfor %}
